<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ⬇ lien logo phone -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Nobile:ital@1&family=Oswald&family=Satisfy&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <title>contact</title>
    <link rel="icon" href="vicon.ico">
</head>

<body>
    <!-- barnav -->
    <img class="img-back " src="header-crossfit.jpg" alt="#">
    <nav
        class="navbar navbar-expand-lg navbar-light fixed-top   d-flex justify-content-start align-items-center nav-fixed">
        <a class="navbar-brand" href="home"><img class="logo-top " src="logo_2.png" alt="#"></a>
        <button class="burger">
            <span class="bar"></span>
        </button>
        <div class="menu d-flex justify-content-around align-items-center w-100">
            <ul class="navbar-nav text-center">
                <li class="nav-item d-inline-block active">
                    <a class="nav-link text-white " href="equipe">L'ÉQUIPE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="activites">LES ACTIVITÉS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="offre">NOS OFFRES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="planing">PLANING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="blog">LE BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="contact">CONTACT</a>
                </li>
            </ul>
            <div class="">
                <a class="nav-link text-white" href="contact"> <i style="font-size:24px "
                        class="fa fa-mobile text-white"> 05 59 47 84 18</i></a>
            </div>

            <ul class="reseau list-unstyled">
                <li class="d-inline-block"><a href="https://www.google.com"> <i class="iconify"
                            data-icon="dashicons:facebook"></i></a></li>
                <li class="d-inline-block pl-3"><a href="https://www.google.com"> <i class="iconify"
                            data-icon="akar-icons:instagram-fill"></i></a></li>
                <li class="d-inline-block pl-3"><a href="https://www.google.com"> <i class="iconify"
                            data-icon="la:tripadvisor"></i></a></li>
            </ul>
        </div>
    </nav>
    <!-- fin barnav -->

    <h1 class="titre-activ text-center mt-5 mb-3">NOS OFFRES</h1>


    <section class="page_404">

        <div class="container ">
            <div class="four_zero_four_bg">
                <h3 class="text-center ">404</h3>
            </div>

            <div class="contant_box_404">
                <h3 class="text-center">La page n'est pas disponible</h3>
            </div>
        </div>

        <div class="text-center">
            <div class="btn">
                <a href="/home">REVENIR</a>
            </div>
        </div>
    </section>




    <!-- ⬇ 6 img dans footer -->
    <footer class="bg-secondary my-footer">
        <div class="container-fluid   p-0 ">
            <div class="photo-footer row no-gutters">
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_1.jpg" alt="#">
                </div>
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_3.jpg" alt="#">
                </div>
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_2.jpg" alt="#">
                </div>
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_3.jpg" alt="#">
                </div>
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_1.jpg" alt="#">
                </div>
                <div class="col-2">
                    <img class="img-fluid w-100" src="coach_2.jpg" alt="#">
                </div>
            </div>
        </div>
        <!-- fin -->

        <!-- section logo footer + RGPD + autres liens  -->
        <div class="container d-flex justify-content-between align-items-center  text-white p-5 content-foot">

            <div class="col-md-4 pb-4">
                <h4><img src="logo_footer.png" alt="#"> À PROPOS</h4>
                2018 © Studio Sport Biarritz<br>
                <p> Salle de sport, de fitness et de crossfit</p>
                à Biarritz Pays basque.<br>
                <a href="404">Mentions légales</a>
            </div>

            <div class="col-md-4 pb-4">
                <h4>STUDIO SPORT CORPORATE</h4>
                <a href="404">- Studio Center : créez
                    votre Studio</a><br>
                <a href="404">- Offres Spéciales C.E.</a> <br>
                <a href="404">- Devenir partenaire du
                    Studio Sport Biarritz</a>
            </div>

            <div class="col-md-4">
                <h4>FITNESS, CROSSFIT ET TRAINING AU PAYS BASQUE</h4>
                <p>
                    <a href="404">Coach personnel de sport à Biarritz</a><br>
                    <a href="404">Coach personnel de sport à Anglet</a>
                    <a href="404">Salle de sport BAB</a><br>
                    <a href="404">Fitness à Biarritz</a>
                    <a href="404">Fitness sur le BAB</a><br>
                    <a href="404">Le Fit Cycle à Biarritz</a>
                    <a href="404">Le Fit Cycling au Pays Basque</a>
                </p>
            </div>
        </div>
        <!-- fin -->

        <!-- footer du bas dark -->
        <div class="bg-dark p-3">
            <div class="row ">
                <div class="col text-right col-footer text-white">
                    Un site créé par<br>
                    <a href="404" target="blank"><strong>l’agence 364.Com’</strong></a>
                </div>
                <div class="col text-left align-self-center col-footer">
                    <a href="404" target="blank"><img src="364.png" alt="#"></a>
                </div>
            </div>
        </div>
        <!-- fin -->
    </footer>
    <!-- fin footer -->

    <!-- ⬇ les scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="app.js"></script>
    <!-- fin -->
</body>

</html>

<!-- WC3 OK -->